.layout-container {
  height:100%;
  width:100%;
  display:flex;
  flex-direction: column;
}
.layout-container .layout-wrapper app-sidebar {
  width:fit-content;
}
.layout-wrapper {
      display: flex;
      flex: 1 0 0;
      /* background-color: #ececec; */
      gap: 20px;
}
.layout-wrapper app-sidebar {
          width: fit-content;
          height:fit-content;
}
.content {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
