<h1 style="color:#D66060">Settings</h1>
<div class="scrollable-panel">
  <!-- Content to be scrolled -->
  <div class="scroll-content">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Account">
        <ng-template matTabContent>
          <!-- Content for Tab 1 goes here -->
          <p>Content of Tab 1</p>
        </ng-template>
      </mat-tab>
      <mat-tab label="Privacy">
        <ng-template matTabContent>
          <!-- Content for Tab 2 goes here -->
          <p>Content of Tab 2</p>
        </ng-template>
      </mat-tab>
      <mat-tab label="Version">
        <ng-template matTabContent>
          <!-- Content for Tab 3 goes here -->
          <p>Content of Tab 3</p>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
