.scrollable-panel {
  height: 400px;
  overflow-y: scroll;
  border-left: 0.5px solid #D66060;
  border-radius:5px;
  padding: 10px;
  width:85%;
}

.scroll-content {
  height: 500px;
}
.scrollable-panel::-webkit-scrollbar {
  width: 8px;
}
.scrollable-panel::-webkit-scrollbar-track {
  background-color: transparent;
}
.tab-group {
  width: 100%;
  max-width: 1100px;
  max-height: 600px;
}

.tab-labels {
  display: flex;
  gap:1rem;
}

.tab-label {
  padding: 10px;
  background-color: black;
  cursor: pointer;
  color:#D66060;
}

.tab-label.active {
  background-color: #D66060;
  color: black;
  border-radius: 15px;
}

.tab-content {
  padding: 20px;
  margin-top: 10px;
}
