<div style="display:flex; flex-direction:column;gap: 2rem">
  <div>
    <button class="createPlaylist" (click)="createPlaylistDialog()">Create Playlist</button>
  </div>
  <div class="scrollable-panel">
    <div class="scroll-content">
      <div class="wrapper" >
        <div *ngFor="let playlist of playlists">
          <div class="card" (click)="openPlaylistDialog(); getSongsByPlaylistId(1)">
            <div class="image">
              <img src="{{playlist.linkRef}}" alt="">
            </div>
            <div class="content">
              <h1>{{playlist.name}}</h1>
              <p>{{playlist.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="createPlaylistDialog" [class.show]="createPlaylistVisibility">
  <div class="playlistDialogHeader">
    <span>Create Playlist</span>
    <button class="createPlaylistDialogButton" type="button" (click)="createPlaylistDialog()">X</button>
  </div>
  <div class="playlistDialogBody">
    <input type="text" placeholder="Playlist Name" [(ngModel)]="playlist.name">
    <input type="text" placeholder="Playlist Description" [(ngModel)]="playlist.description">
    <input type="text" placeholder="Photo" [(ngModel)]="playlist.linkRef">
    <button class="createPlaylistDialogButton" type="button" (click)="createPlaylist()">Submit</button>
  </div>
</div>

<div class="openPlaylist" [class.show]="openPlaylistVisibility">
  <div class="playlistDialogHeader">
    <span>Playlist</span>
    <button class="createPlaylistDialogButton" type="button" (click)="openPlaylistDialog()">X</button>
  </div>
  <div class="playlistDialogBody" *ngFor="let song of playlistSongs">
    <div class="song" (click)="setCurrentSong(song)">
      <img [src]="song.linkRef" alt="noPhoto">
      <span>{{song.name}}</span>
      <span>{{song.artist}}</span>
    </div>
  </div>
</div>