.wrapper {
  display:flex;
  flex-direction: flex;
  justify-content: space-around;
  height:20vh;
  align-items:center;
}
.search-bar {
background-color: #D7CECE;
border-radius: 15px;
width: 600px;
height: 35px;
color: #D66060;
border: none;
font-weight:bold;
text-indent:15px;
}
.search-bar::placeholder {
  color: #D66060;
}
.search-bar:focus {
  outline:none;
  caret:revert;
}
@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
}
.notSpotifyLogo {
  width:200px;
  height:200px;
}
.notSpotifyLogo:hover{
  cursor:pointer;
}
.user-info {
  display: flex;
  gap: 2vh;
}
